#fighterBox {
    height: 304px;
    max-height: 304px;
    position: relative;
}

.panel {
    height: 300px;
    max-height: 300px;
    position: absolute;
}

#rogue {
    left: 283px;
}

#mage {
    left: 566px;
}

#summoner {
    left: 849px;
}

#battleground {
    height: 304px;
    max-height: 304px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}